{{#partial "title"}}Cuentas{{/partial}}

{{#partial "body"}}

	{{#block "presentacion"}}
	{{/block}}
	
	<br />
	<form method="POST" action= {{#block "ruta-formulario"}}{{/block}} name="form" class="form-inline">
		<div class="form-row">
	
			<div class="form-group">
				<label for="empresa-select">Seleccione una empresa:</label>
	    	    <select class="form-control col-6" name="empresa" ic-post-to="cuentas/periodos" ic-target="#select-periodos">
       				{{#each empresas}}
        				<option>{{nombre}}</option>
        			{{/each}}
      			</select>
			</div>
	
			<div class="form-group">
				<label>Seleccione un periodo:</label>
				<select class="form-control col-8" name="periodo" id="select-periodos"></select>			
			</div> 
		
			<button type="submit" class="btn btn-md btn-primary">Buscar</button>
	
		</div>
	</form> 
	
	<div>
		{{#block "tabla"}}
		{{/block}}
	</div>
	
{{/partial}}
{{>layout.hbs}}