{{#partial "title"}}Cuentas{{/partial}}

{{#partial "body"}}

	{{#block "presentacion"}}
	{{/block}}
	
	<br />
	<form method="POST" action= {{#block "ruta-formulario"}}{{/block}} name="form" class="form-inline">
		
	
			<div class="form-group">
				<label class="mr-sm-2" for="empresa-select">Seleccione una empresa:</label>
	    	    <select class="mr-sm-2 form-control " name="empresa" ic-post-to="cuentas/periodos" ic-target="#select-periodos">
       				{{#each empresas}}
        				<option>{{nombre}}</option>
        			{{/each}}
      			</select>
			</div>
	
			<div class="form-group">
				<label class="mr-sm-2">Seleccione un periodo:</label>
				<select class="mr-sm-2 form-control" name="periodo" id="select-periodos"></select>			
			</div> 
		
			<button type="submit" class="btn btn-md btn-primary">Buscar</button>
	
		
	</form> 
	
	
	<div>
		{{#block "tabla"}}
		{{/block}}
	</div>
	
{{/partial}}
{{>layout.hbs}}