{{#partial "title"}}Empresas{{/partial}}

{{#partial "body"}}
	<h3>Empresas</h3>
	<br/>

	<div class="card" style="width: 80rem;">
		<ul class="list-group list-group-flush">
				{{#each empresas}}
	  			<div class="col-8">
	  				<li class="list-group-item">{{id}}</li>
	  				<li class="list-group-item">{{nombre}}</li>
 	  				<li class="list-group-item">{{anio_fundacion}}</li> 
	  			</div>
	  			<div class="col-4">
	  				<button type="submit" class="btn btn-md btn-primary">ver Cuentas</button>
	    			<button type="submit" class="btn btn-md btn-primary">ver Indicadores</button>
  				</div>
  				{{/each}}
		</ul>
</div>

{{/partial}}
{{>layout.hbs}}

