{{#partial "title"}}Cuentas{{/partial}}

{{#partial "presentacion"}}
	<h3>Evaluar indicadores cargados en el sistema</h3>
{{/partial}}

{{#partial "ruta-formulario"}}
	"/proyecto/indicadores"
{{/partial}}

{{#partial "tabla"}}
	<table class="table table-striped">
  		<thead>
    		<tr>
      			<th>Indicador</th>
     			 <th>Valor</th>
    		</tr>
		</thead>
	
	    <tbody>
	    	{{#each indicadores}}
		    	<tr>
	        		<td>{{nombre}}</td>
	        		<td>{{valorString}}</td>
		    	</tr>
	       	{{/each}}
	  	</tbody>
	  	
	</table>

{{/partial}}
{{>proyectos/selectores/select-empresa-periodo.hbs}}
