{{#partial "title"}}Metodologias{{/partial}}

{{#partial "body"}}
	<h3>Evaluar metodologías cargadas en el sistema</h3>
	<br />
  
	<form method="POST" action="/metodologias" name="form-metodologias" class="form-inline">
	  <div class="form-group">
	    <label for="metodologia-select">Seleccione una metodología:</label>
	  </div>
	  <div class="form-group mx-sm-3">
		  <div class="col-10">
		     <select class="form-control form-control-lg"> 
			  	{{#each metodologias}}
	        		<option>{{nombre}}</option>
	        	{{/each}}
			 </select>
		  </div>
			
	  </div>
	  <button type="submit" class="btn btn-md btn-primary">Evaluar</button>
	</form>
		

	{{#if empresasordenadas.length}}
	<div >
	<br />
	<br />
	<ol>
		<label > Empresas ordenadas </label>
			{{#each empresasOrdenadas}}
				<li>{{Nombre}}</li>
		    {{/each}}
	</ol>
	<ol>
		<label > Empresas eliminadas por la metodologia </label>
			{{#each empresasEliminadas}}
				<li>{{Nombre}}</li>
		    {{/each}}
	</ol>
	</div>

	{{/if}}
	
	
{{/partial}}
{{>layout.hbs}}
