{{#partial "title"}}Nueva condición{{/partial}}

{{#partial "body"}}

	<h3>Cree una nueva condición</h3>
	<br/>
	<form method="POST" action="proyecto/condiciones/new" name="form-condicion">
		<div class="form-row">
			<div class="form-group col-10>
				<label for="nuevo-condicion">Introduzca una nueva condicion:</label>
				<input type="text" name="nueva-condicion" class="form-control" id="nueva-condicion" placeholder="Nombre = Ecuación" required autofocus></input>
			</div>
		</div>
		<button type="submit" class="btn btn-md btn-primary">Agregar</button>
	</form> 

{{/partial}}
{{>layout.hbs}}

