{{#partial "title"}}Home{{/partial}}

{{#partial "body"}}
	<h1>TP DDS</h1>
	<h2>Grupo 4</h2>
	<video autoplay loop><source src="osito.mp4" type="video/mp4"></video>
{{/partial}}
{{>layout.hbs}}